*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
}

@import './Header.scss';
@import './Input.scss';
@import './Characters.scss';
@import './NotFound.scss';