.form{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

.input{
    border: 2px solid aqua;
    background-color: black;
    width: 20rem;
    height: 2rem;
    color: greenyellow;
}