.form{
    background-color:  #2e2421 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    gap:1rem;
    padding: 1rem;
    font-size: 1rem;
    &__label{
        color:#93BFC6;
        padding-right: 1rem;
    }
    @media (min-width: 768px){
        font-size: 2rem;
        gap:1.5rem;
            
    }
}

.input{
    border: 2px solid #2e2421;
    background-color:  #f2aa7a;
    width: 20rem;
    height: 2rem;
    color:#2e2421;
}

.message{
    color: white;
}

.select{
    background-color:  #f2aa7a;
    color:#2e2421;
    font-size: 1rem;
    border-radius: 0.5rem;
    @media (min-width: 768px){
        font-size: 2rem;
            
    }
}