.notfound {
    height: 100vh;
    background-color: black;
    color: wheat;
    padding: 8rem;
    text-align: center;
    font-size: 3rem;
    line-height: 8rem;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: wheat;
    }
}
